<template>
  <h1>{{ title }}</h1>
  <input type="text" name="" id="" ref="sampleID">
  <button @click="handleClick">Click me</button>
</template>

<script>

export default {
  name: 'App',
  data(){
    return {
      title: "My vue CLI app"
    }
  },
  methods:{
    handleClick(){
      console.log(this.$refs.sampleID)
      this.$refs.sampleID.classList.add("active")
    }
  }
}
</script>

<style>
/* These are global styles, these will be injected inside the head tag */
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
h1 {
  border-bottom: 1px solid #ddd;
  display: inline-block;
  padding-bottom: 10px;
}
.active{
  border: thick solid green;

}
</style>
