<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
          theme: {
            container: {
             center: true
            }
          }
        }
      </script>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <h1>Hello, vue :)</h1>
    <div id="app" class="container mx-auto border border-blue-600 p-5">
        <h1>{{ todoTitle }} - {{ age }}</h1>

        <ul class="block list-outside list-disc">
            <li v-for="todo in todos" :key="todo" :name="todo" class="first:hover:bg-blue-400 hover:bg-red-400">{{ todo }}</li>
        </ul>
        <p>listing with checkboxes</p>
        <!-- <ul class="block list-outside list-none">
            <li v-for="todo in todos" :key="todo" :name="todo" class="first:hover:bg-blue-400 hover:bg-red-400">
                <input type="checkbox" :name="todo" :id="todo"> {{ todo }}
            </li>
        </ul> -->
        <div class="grid grid-cols-4 gap-4 m-5">
            <button type="button" 
            class="col-span-1 bg-sky-500 hover:bg-sky-700 text-white font-bold py-2 px-4 rounded" 
            v-on:click="todoContent($event, data)">Add Todo</button>
            <input type="text" name="" id="" class="col-span-3 border border-indigo-600">
        </div>
        <ul class="block list-outside list-none">
            <template  v-for="(todo,index) in todos" >
                <li v-if="!todo.isFinished"
                class="hover:bg-sky-100 cursor-pointer" :title="todo.dateCreated">
                    <input type="checkbox" name="" :id="`checkbox-${index}`" :checked="todo.isFinished" > {{ todo.todo }}
                </li>
                <li v-else
                class="hover:text-center bg-sky-100 cursor-pointer text-[#334155] line-through decoration-solid decoration-indigo-500 " :title="todo.dateCreated">
                    <input type="checkbox" name="" :id="`checkbox-${index}`" :checked="todo.isFinished" > {{ todo.todo }}
                </li>
            </template>
        </ul>

        <h1 class="block font-bold leading-4 m-5 ml-0 mb-2 text-lg">Done Tasks using calculated method</h1>
        <ul class="block list-outside list-none">
                <li v-for="(todo,index) in finishedTodo" class="hover:bg-sky-100 cursor-pointer" :title="todo.dateCreated">
                    <input type="checkbox" name="" :id="`checkbox-${index}`" :checked="todo.isFinished" > {{ todo.todo }}
                </li>
        </ul>
        <h1 class="block font-bold leading-4 m-5  ml-0 mb-2 text-lg">Unfinished Tasks using calculated method</h1>
        <ul class="block list-outside list-none">
                <li v-for="(todo,index) in unFinishedTodo" class="hover:bg-sky-100 cursor-pointer" :title="todo.dateCreated">
                    <input type="checkbox" name="" :id="`checkbox-${index}`" :checked="todo.isFinished" > {{ todo.todo }}
                </li>
        </ul>
    </div>
    <script  src="./app.js"></script>
</body>
</html>